language: php

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - composer install --dev

script: 
  - composer -v exec phpunit  -- tests --bootstrap tests/bootstrap.php --exclude-group example --stderr -v --debug
